networks:
  solei-network:

services:
  keycloak:
    image: keycloak/keycloak:26.4.4
    restart: always
    hostname: keycloak
    ports:
      - "8086:8086"
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KEYCLOAK_ADMIN}
      - KC_BOOTSTRAP_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
      - KC_HOSTNAME=keycloak
    volumes:
      - ./keycloak:/opt/keycloak/data/import
    command: ["start-dev", "--import-realm", "--http-port", "8086"]
    networks:
      - solei-network

  db:
    image: postgres:18
    restart: always
    hostname: db
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 3s
      timeout: 1s
      retries: 10
    networks:
      - solei-network

  migrations:
    build:
      context: .
      dockerfile: Dockerfile-db
      target: release
    restart: on-failure
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_SSL=${POSTGRES_SSL}
    volumes:
      - ./db:/db
    depends_on:
      db:
        condition: service_healthy
    command: ["-database", "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=${POSTGRES_SSL}", "-path", "/db/migrations", "up"]
    networks:
      - solei-network

  solei:
    build:
      context: .
      dockerfile: Dockerfile
      target: release
    hostname: solei
    ports:
      - "8800:8800"
    environment:
      - AUTH_URL=${AUTH_URL}
      - AUTH_REALM=${AUTH_REALM}
      - AUTH_CLIENT_ID=${AUTH_CLIENT_ID}
      - AUTH_CLIENT_SECRET=${AUTH_CLIENT_SECRET}
      - POSTGRES_HOST=db
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_SSL=${POSTGRES_SSL}
    depends_on:
      - keycloak
      - db
      - migrations
    command: ["/main"]
    networks:
      - solei-network
